<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Théotime Loiseau"/>
    	<meta name="description" content="Portfolio - Théotime Loiseau - Etudiant en Génie Informatique UTC"/>
    	<meta name="keywords" content="portfolio, theotime loiseau, webdesign, website, site, internet, UTC, étudiant ingénieur, UTCéens"/>
        <meta name="viewport" content="initial-scale=1"/>
        <title>Théotime Loiseau | Portfolio</title>
        <link href="{{ asset('bundles/tymcore/css/style.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/tymcore/css/styleComputer.min.css') }}" rel="stylesheet" media="screen and (min-width: 920px)">
        <link href="{{ asset('bundles/tymcore/css/styleTablet.min.css') }}" rel="stylesheet" media="screen and (max-width: 919px) and (min-width : 600px)">
        <link href="{{ asset('bundles/tymcore/css/styleSmartphone.min.css') }}" rel="stylesheet" media="screen and (max-width: 600px)">
        <link href="{{ asset('bundles/tymcore/css/styleSmartphone.min.css') }}" rel="stylesheet" media="screen and (max-device-width: 600px)">
        <link href="{{ asset('bundles/tymcore/css/icons.min.css') }}" rel="stylesheet" media="screen">
        <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/tymcore/img/favicon.png') }}" />
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51463027-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        {% if not app.request.cookies.get('hide-banner') %}
            <div class="headband">
                <div class="headband-container">
                    <div class="headband-text">
                        {{ 'Découvrez la nouvelle version expérimentale de mon portfolio'|trans }}!
                    </div>
                    <a href="https://experiment.theotimeloiseau.com/">{{ 'Découvrir'|trans }}</a>
                    <button class="headband-close"><i class="icon close"></i></button>
                </div>
            </div>
        {% endif %}
        <nav id="header">
            <a href="#home"><div id="logo"></div><div id="siteTitle">Théotime Loiseau</div></a>
            <div id="menuButtonSmartphone">
                <span class="icon icon-darkgrey icon-40 menu"></span>
            </div>
            <div id="links">
                <ul>
                    <li><a href="#home"><span class="icon icon-22 home"></span><span class="textMenu">{{ 'Accueil'|trans }}</span></a></li>
                    <li><a href="#projects"><span class="icon icon-22 tile"></span><span class="textMenu">{{ 'Projets'|trans }}</span></a></li>
                    <li><a href="#photos"><span class="icon icon-22 photo"></span><span class="textMenu">{{ 'Photos'|trans }}</span></a></li>
                    <li><a href="#biography"><span class="icon icon-22 user"></span><span class="textMenu">{{ 'Biographie'|trans }}</span></a></li>
                    <li class="lastElement"><a href="#contact"><span class="icon icon-22 mail"></span><span class="textMenu">{{ 'Contact'|trans }}</span></a></li>
                </ul>
            </div>
        </nav>
        <div id="pannelView">
            <div id="pannelPositionner">
                <div id="page1" class="content home">
                    <div class="fullCard card mainTitle" id="welcome">{{ 'Bienvenue'|trans }}</div>
                    <div class="leftColumn halfColumn">
                        <div class="card" id="presentation">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 user"></span>{{ 'Présentation'|trans }}</h1>
                                <table>
                                    <tr><td class="category">{{ 'Nom'|trans }}</td><td>Théotime Loiseau</td></tr>
                                    <tr><td class="category">{{ 'Age'|trans }}</td><td>{{ age }} {{ 'ans'|trans }}</td></tr>
                                    <tr><td class="category">{{ 'Statut'|trans }}</td><td>{{ 'Développeur Fullstack chez GuestToGuest'|trans }}</td></tr>
                                    <tr><td class="category">{{ 'École'|trans }}</td><td>UTC (Université de Technologie de Compiègne)</td></tr>
                                    <tr><td class="category">{{ 'Spécialité'|trans }}</td><td>{{ 'Génie Informatique'|trans }}</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class="card" id="career">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 work"></span>{{ 'Carrière'|trans }}</h1>
                                <div id="careerPanel">
                                    <div id="timeline">
                                        <div id="line"></div>
                                    </div>
                                    <div id="careerContent">
                                        <div id="dot1" class="dot"></div>
                                        <div class="date">{{ 'Depuis'|trans }} {{ 'Mars'|trans }} 2016</div><div class="careerData">{{ "Développeur web Fullstack chez GuestToGuest"|trans }}</div>
                                        <div id="dot2" class="dot"></div>
                                        <div class="date">{{ 'Août'|trans }} 2014 - {{ 'Mars'|trans }} 2016</div><div class="careerData">{{ "Développeur web Fullstack chez BVA Mystery Shopping"|trans }}</div>
                                        <div id="dot3" class="dot"></div>
                                        <div class="date">{{ 'Février'|trans }} 2014 - {{ 'Juillet'|trans }} 2014</div><div class="careerData">{{ "Stage de fin d'études à CommentCaMarche Benchmark Group"|trans }}</div>
                                        <div id="dot4" class="dot"></div>
                                        <div class="date">{{ 'Août'|trans }} 2013 - {{ 'Décembre'|trans }} 2013</div><div class="careerData">{{ "Semestre d'études à l'University of Rhode Island (Kingston)"|trans }}</div>
                                        <div id="dot5" class="dot"></div>
                                        <div class="date">{{ 'Août'|trans }} 2012 - {{ 'Février'|trans }} 2013</div><div class="careerData">{{ 'Stage assistant ingénieur à Multiposting'|trans }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightColumn halfColumn">
                        <div class="card" id="myLocation">
                            <h1><span class="icon icon-darkgrey icon-40 pin"></span>{{ 'Lieux actuel'|trans }}</h1>
                            <div id="map_canvas"></div>
                        </div>
                    </div>
                </div>
                <div id="page2" class="content projects">
                    <div class="fullCard card mainTitle">Portfolio</div>
                    <button id="backToList"><span class="icon left"></span>{{ 'Retour à la liste'|trans }}</button>
                    <div id="projectContent" class="clearfix">
                        <div id="thumbnails" class="clearfix">
                            {% set numSite = 1  %}
                            {% for site in sites %}
                            {% if numSite%2 == 1 %}
                            <figure id="project{{ site.id }}" class="projectImagePreview left">
                            {% else %}
                            <figure id="project{{ site.id }}" class="projectImagePreview right">
                            {% endif %}
                                <div class="previewName">{{ site.getTitle() }}</div>
                                {% for miniature in site.getMiniatures() %}
                                    <img class="additionalThumbnail" src="{{ asset('bundles/tymcore/img/projects/' ~ miniature.getUrl) }}"/>
                                {% endfor %}
                                <div class="largePictures">
                                    <img class="mainThumbnail" src="{{ asset('bundles/tymcore/img/projects/' ~ site.getUrlPreview) }}"/>
                                </div>
                            </figure>
                            {% set numSite = numSite+1  %}
                            {% endfor %}
                        </div>
                        <div id="previewButtons">
                            <div class="leftArrow arrow left icon">
                            </div>
                            <div class="rightArrow arrow right icon">

                            </div>
                        </div>
                        {% for site in sites %}
                        <div id="content{{ site.id }}" class="projectDetails clearfix">
                            <div class="oneQuarterCard card leftColumn">
                                <div class="projectTitle">{{ site.getTitle() }}</div>
                                <div class="projectInfo">
                                    <div class="entry">
                                        <span class="emphasize">{{ 'Année'|trans }}</span>: {{ site.getYear() }}
                                    </div>
                                    <div class="entry">
                                        <span class="emphasize">{{ 'Technologies'|trans }}</span>: {{ site.getTechnologies() }}
                                    </div>
                                    <div class="entry">
                                        <span class="emphasize">{{ 'Statut'|trans }}</span>: {{ site.getStatus()|trans }}
                                    </div>
                                </div>
                            </div>
                            <div class="threeQuarterCard card rightColumn">
                                <div class="projectDescription">
                                    <h1>Description</h1>
                                    {{ site.getDescription() | raw }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="page3" class="content photos">
                    <div class="fullCard card mainTitle">{{ 'Photographies'|trans }}</div>
                    <div id="photoViewer">
                        {% set numPhoto = 1  %}
                        {% for photo in photos %}
                        <canvas id="blurPic{{ numPhoto }}" class="canvas"></canvas>
                        <a TARGET=_BLANK href="{{ photo.getUrlPicasa }}">
                            <img id="pic{{ numPhoto }}" class="picture" src="{{ asset('bundles/tymcore/' ~ photo.getUrlMedium) }}" alt="pic{{ numPhoto }}"/>
                            <div id="zoom{{ numPhoto }}" class="zoom icon zoom"></div>
                        </a>
                        {% set numPhoto = numPhoto+1  %}
                        {% endfor %}
                    </div>
                    <div id="arrows">
                        <div id="leftArrow" class="arrow"><span class="icon icon-white icon-40 left"></span></div>
                        <div id="rightArrow" class="arrow"><span class="icon icon-white icon-40 right"></span></div>
                    </div>
                    <div id="photoSwitch">
                        {% set numPhoto = 1  %}
                        {% for photo in photos %}
                        {% if numPhoto == 1 %}
                        <div id="round{{ numPhoto }}" class="circleButton selected"></div>
                        {% else %}
                        <div id="round{{ numPhoto }}" class="circleButton"></div>
                        {% endif %}
                        {% set numPhoto = numPhoto+1  %}
                        {% endfor %}
                    </div>
                </div>
                <div id="page4" class="content biography">
                    <div class="fullCard card mainTitle ">{{ 'Biographie'|trans }}</div>
                    <div class="leftColumn halfColumn">
                        <a href="{{ asset('bundles/tymcore/files/' ~ resumeName ~ '.pdf') }}"><div id="resumeDownload" class="halfCard card"><span class="resumeText"><span class="icon icon-darkgrey icon-60 download"></span>{{ 'Télécharger mon C.V.'|trans }}</span></div></a>
                        <div id="programmingSkills" class="card">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 code"></span>{{ 'Langages de programmation'|trans }}</h1>
                                <ul class="skill-list">
                                    <li>HTML</li>
                                    <li>CSS (LESS, SASS)</li>
                                    <li>JavaScript (ES6)</li>
                                    <li>PHP</li>
                                </ul>
                            </div>
                        </div>
                        <div id="softwareSkills" class="card">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 software"></span>{{ 'Outils'|trans }}</h1>
                                <ul class="skill-list">
                                    <li>Mocha</li>
                                    <li>NightwatchJS</li>
                                    <li>Grunt</li>
                                    <li>Webpack</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rightColumn halfColumn">
                        <div id="frameworkSkills" class="card">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 library"></span>{{ 'Framework/Librairies'|trans }}</h1>
                                <ul class="skill-list">
                                    <li>React</li>
                                    <li>Redux</li>
                                    <li>jQuery</li>
                                    <li>NodeJS</li>
                                    <li>NW.js</li>
                                    <li>Symfony2</li>
                                </ul>
                            </div>
                        </div>
                        <div id="projectSkills" class="card">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 project"></span>{{ 'Compétences'|trans }}</h1>
                                <ul class="skill-list">
                                    <li>Scrum Master</li>
                                    <li>UX</li>
                                    <li>Responsive design</li>
                                    <li>{{ 'Optimisation des performances'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                        <div id="languageSkills" class="card">
                            <div class="halfCardContent">
                                <h1><span class="icon icon-darkgrey icon-40 earth"></span>{{ 'Langues'|trans }}</h1>
                                <span class="category">{{ 'Anglais'|trans }} - 112/120 TOEFL iBT</span><br/>
                                <div class="skills left skill1"></div><div class="skills middle1 skill2"></div><div class="skills middle2 skill3"></div><div class="skills middle3 skill4"></div><div class="skills right skill5"></div><br/>
                                <span class="category">{{ 'Espagnol'|trans }}</span><br/>
                                <div class="skills left skill1"></div><div class="skills middle1 skill2"></div><div class="skills right skill3"></div><br/>
                                <span class="category">{{ 'Chinois'|trans }}</span><br/>
                                <div class="skills both skill1"></div><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page5" class="content contact">
                    <div class="fullCard card mainTitle">Contact</div>
                    <div id="socialNetworksLinks" class="oneQuarterCard card rightColumn">
                        <div class="halfCardMobile leftHalfCardMobile">
                            <a TARGET=_BLANK href="https://www.facebook.com/theotime.loiseau">
                                <div id="facebookPane" class="socialPane">
                                    <span class="icon icon-white icon-40 facebk"></span>
                                    <div class="socialName">Facebook</div>
                                </div>
                            </a>
                            <a TARGET=_BLANK href="https://twitter.com/#!/tym_network" id="twitter_a">
                                <div id="twitterPane" class="socialPane">
                                    <span class="icon icon-white icon-40 twittr"></span>
                                    <div class="socialName">Twitter</div>
                                </div>
                            </a>
                        </div>
                        <div class="halfCardMobile rightHalfCardMobile">
                            <a TARGET=_BLANK href="https://plus.google.com/u/0/106761635340798801821/posts">
                                <div id="gplusPane" class="socialPane">
                                    <span class="icon icon-white icon-40 gplus"></span>
                                    <div class="socialName">Google Plus</div>
                                </div>
                            </a>
                            <a TARGET=_BLANK href="https://github.com/tym-network" id="google_a">
                                <div id="githubPane" class="socialPane">
                                    <span class="icon icon-white icon-40 github"></span>
                                    <div class="socialName">GitHub</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="threeQuarterCard card leftColumn">
                        {% if messageSent %}
                        <div id="messageSent">
                            <span class="icon icon-120 icon-single check"></span>
                            {{ 'Message envoyé'|trans }}!
                        </div>
                        {% else %}
                        <form id="contactForm" method="post" {{ form_enctype(form) }}>
                            {% form_theme form 'TymCoreBundle:Form:form_errors.html.twig' %}
                            {% if not form.vars.valid %}
                            <div id="errors">
                                {{ form_errors(form.nom) }}
                                {{ form_errors(form.mail) }}
                                {{ form_errors(form.contenu) }}
                                {{ form_errors(form.recaptcha) }}
                                {{ form_errors(form) }}
                            </div>
                            {% endif %}
                            <div class="group clearfix">
                            <div id="name">
                                <div id="namePreInput" class="preInput"><span class="icon icon-white icon-22 user"></span></div>
                                <div class="inputWrapper">
                                    {{ form_widget(form.nom, { 'attr': {'placeholder': 'Nom Prénom'|trans} }) }}
                                </div>
                            </div>
                            <div id="mail">
                                <div id="mailPreInput" class="preInput"><span class="icon icon-white icon-22 mail"></span></div>
                                <div class="inputWrapper">
                                    {{ form_widget(form.mail, { 'attr': {'placeholder': 'Adresse Email'|trans} }) }}
                                </div>
                            </div></div>
                            <div id="message" class="group clearfix">
                                <div id="messagePreInput" class="preInput"><span class="icon icon-white icon-22 message"></span></div>
                                {{ form_widget(form.contenu, { 'attr': {'placeholder': 'Message'} }) }}
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LesOjcUAAAAAD1MqtuPiN3fUEQ3bJDpfm0KmuJn"></div>
                            {{ form_widget(form.recaptcha) }}
                            {{ form_rest(form) }}
                            <button type="submit" class="icon-envelop"><span>{{ 'Envoyer'|trans }}</span></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            © Théotime Loiseau - 2018 - {% if locale == "fr" %}<a href="{{ path("_translation", {"_locale":"en"}) }}">English version</a>{% elseif locale =="en"%}<a href="{{ path("_translation", {"_locale":"fr"}) }}">Version française</a>{% endif %}
        </div>
        <script>
            var data = {
                'getSiteImages': '{{ path("tym_core_getsite") }}',
                'baseURLImages': '{{ asset("bundles/tymcore/img/projects/") }}',
            };
        </script>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{ asset('bundles/tymcore/js/lib/StackBlur.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.7/TweenMax.min.js"></script>
        <script src="//cdn.jsdelivr.net/mousetrap/1.4.6/mousetrap.min.js"></script>
        <script src="{{ asset('bundles/tymcore/js/core.min.js') }}"></script>
    </body>
</html>
