@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols/LigatureSymbols-2.11.eot?') format('eot'), url('../fonts/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'), url('../fonts/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
}

/**
 * Icon font
 */
.icon:before {
    font-family: "LigatureSymbols";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.icon-single:before {
    display: block;
}

.icon-darkgrey:before {
    color: #434343;
}

.icon-white:before {
    color: #ffffff;
}

.icon-green:before {
    color: #24c761;
}

.icon-16:before {
    font-size: 16px;
}

.icon-20:before {
    font-size: 20px;
}

.icon-22:before {
    font-size: 22px;
}

.icon-40:before {
    font-size: 40px;
}

.icon-60:before {
    font-size: 60px;
}

.icon-120:before {
    font-size: 120px;
}

.icon.user:before {
    content: "\E137";
}

.icon.menu:before {
    content: "\E08e";
}

.icon.left:before {
    content: "\E080";
}

.icon.right:before {
    content: "\E112";
}

.icon.mail:before {
    content: "\E08a";
}

.icon.message:before {
    content: "\E048";
}

.icon.facebk:before {
    content: "\E047";
}

.icon.twittr:before {
    content: "\E12f";
}

.icon.gplus:before {
    content: "\E05a";
}

.icon.github:before {
    content: "\E057";
}

.icon.pin:before {
    content: "\E103";
}

.icon.download:before {
    content: "\E115";
}

.icon.code:before {
    content: "\E032";
}

.icon.work:before {
    content: "\E173";
}

.icon.home:before {
    content: "\E072";
}

.icon.photo:before {
    content: "\E026";
}

.icon.tile:before {
    content: "\E129";
}

.icon.library:before {
    content: "\E028";
}

.icon.software:before {
    content: "\E16e";
}

.icon.project:before {
    content: "\E16d";
}

.icon.earth:before {
    content: "\E058";
}

.icon.check:before {
    content: "\E029";
}

.icon.refresh:before {
    content: "\E125";
}

.icon.sound:before {
    content: "\E13d";
}

.icon.pict:before {
    content: "\E074";
}

.icon.cross:before {
    content: "\E012";
}

.icon.arrowLeft:before {
    content: "\E00c";
}

.icon.zoom:before {
    content: "\E142";
}

.icon.close:before {
    content: "\E10f";
}

.icon-envelop:before {
    position: absolute;
    font-family: "LigatureSymbols";
    font-size: 28px;
    line-height: 24px;
    content: "\E08a";
}