.halfCard {
    width: 48%
}

.content {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.oneQuarterCard {
    float: none;
    margin-bottom: 20px;
}

.threeQuarterCard {
    width: 100%;
}

.headband .headband-container {
    width: 100%;
    box-sizing: border-box;
}

nav #links {
    float: right;
}

nav #links ul {
    margin: 0;
    padding: 0;
}

nav #links li {
    display: inline;
}

nav #links a {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 22px 5px 0px;
    text-decoration: none;
    color: #434343;
    font-family: "SourceSansProUltraLight", sans-serif;
    font-size: 20px;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.8em transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

nav #links a:hover {
    background: #E9E9E9;
}

nav #links li.current a {
    background: rgb(0,147,203);
    color: white;
}

nav #links .textMenu {
    display: none;
}

nav #links .icon:before {
    font-size: 30px;
}

/**
 * Portfolio
 */

.projectImagePreview {
    margin: 20px auto;
}

/**
 * Photos
 */
.photos .arrow {
    width: 50%;
    margin-top: 0;
    box-sizing: border-box;
}

.photos .arrow:hover {
    opacity: 1;
}

.photos #arrows {
    position: relative;
    max-width: 670px;
    height: 72px;
    margin: auto;
    margin-top: 10px;
}

.photos #leftArrow {
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid rgb(1, 81, 112);
}

.photos #rightArrow {
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    border-left: 1px solid rgb(1, 81, 112);
}

/*
 * Contact
 */

.contact .halfCardMobile {
     width: 50%;
}

.contact .leftHalfCardMobile {
    float: left;
}

.contact .rightHalfCardMobile {
    float: right;
}

.contact #socialNetworks {
    height: 100px;
}

.contact #socialNetworks #facebookPane {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.contact #socialNetworks #twitterPane {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.contact #socialNetworks span.twitter {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.contact #socialNetworks #gplusPane {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.contact #socialNetworks span.github {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}