@font-face {
    font-family: 'SourceSansProUltraLight';
    src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?') format('eot'), url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'), url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Existence';
    src: url('../fonts/Existence/Existence-Stencillight.eot?') format('eot'), url('../fonts/Existence/Existence-Stencillight.woff') format('woff'), url('../fonts/Existence/Existence-Stencillight.ttf') format('truetype');
}

html {
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
}

body {
    margin: 0;
    background: #F7F7F7;
    font-family: "SourceSansProRegular", "Helvetica Neue", "Century Gothic", sans-serif;
}

.headband {
    width: 100%;
    background: rgb(0,147,203);
    color: white;
    font-family: SourceSansProLight, sans-serif;
}

.headband .headband-container {
    width: 900px;
    margin: auto;
    padding: 12px 40px 12px 20px;
}

.headband .headband-text {
    display: inline-block;
}

.headband a {
    display: inline-block;
    margin-left: 8px;
    padding: 2px 10px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.headband a:hover {
    color: rgb(0,147,203);
    background: white;
}

.headband .headband-close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.headband .headband-close:hover {
    color: #3d4f55;
}

nav {
    max-width: 900px;
    height: 90px;
    margin: auto;
}

nav #logo {
    width: 60px;
    height: 60px;
    background-image: url("../img/logo.svg");
    background-size: 60px 60px;
    margin: 15px;
    float: left;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

nav #logo:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
}

nav #siteTitle {
    float: left;
    margin-top: 24px;
    font-family: "Existence", "Century Gothic", sans-serif;
    text-decoration: none;
    font-size: 26px;
    color: #434343;
    -webkit-transition: color 0.6s linear;
    -moz-transition: color 0.6s linear;
    -o-transition: color 0.6s linear;
    transition: color 0.6s linear;
}

nav #siteTitle:hover {
    color: rgb(0,147,203);
}

nav #menuButtonSmartphone {
    display: none;
}

.content {
    position: absolute;
    transform: translateX(5000px);
}

#pannelView {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
    overflow: hidden;
}

#pannelPositionner {
    position: relative;
    margin: auto;
}

.card {
    position: relative;
    background: white;
    border-bottom: 2px solid rgb(220,220,220);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.fullCard {
    padding: 10px;
}

.halfCard {
    padding-top: 1px;
}

.halfCardContent {
    margin: 16px 20px 20px 20px;
    overflow: hidden;
}

.leftColumn {
    float: left;
}

.rightColumn {
    float: right;
}

.halfColumn {
    width: 48%;
}

.halfColumn .card {
    width: 100%;
    padding-top: 1px;
}

div.circleButton {
    position: relative;
    top: 0;
    display:inline-block;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #DDDDDD;
    border: 3px solid #DDDDDD;
    margin: 5px;
    -webkit-transition: background 0.4s linear, border 0.4s linear;
    -moz-transition: background 0.4s linear, border 0.4s linear;
    -o-transition: background 0.4s linear, border 0.4s linear;
    transition: background 0.4s linear, border 0.4s linear;
    cursor: pointer;
}

div.circleButton.selected {
    background: #A0A0A0;
    border: 3px solid #DDDDDD;
}

.content div.mainTitle {
    font-size: 50px;
    text-align: center;
}

.content h1 {
    margin: 0 10px 16px 10px;
    border-bottom: 1px solid rgb(230,230,230);
    font-family: "SourceSansProRegular", sans-serif;
    color: #434343;
    font-size: 30px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content h1 span.icon{
    padding-right: 12px;
}

#footer {
    max-width: 900px;
    margin: 20px auto 10px auto;
    padding-top: 10px;
    font-family: "SourceSansProLight", "Helvetica Neue", "Century Gothic", sans-serif;
    text-align: center;
    color: rgb(187, 187, 187);
    border-top: 1px solid rgb(235, 235, 235);
    -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 1px rgba(255, 255, 255, 1);
}

#footer a {
    color: rgb(187, 187, 187);
    border-bottom: 1px dashed;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

#footer a:hover {
    color: rgb(100, 100, 100);
}

a {
    text-decoration: none;
}

/* ClearFix */
.clearfix {
    display: inline-block;
}

.clearfix:after {
    visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*
 * WELCOME PAGE
 */

.home #presentation {
    font-family: "SourceSansProLight", sans-serif;
    font-size: 18px;
}

.home #presentation td.category {
    font-family: "SourceSansProRegular", sans-serif;
    width: 80px;
    text-align: right;
    padding-right: 12px;
}

.home #myLocation h1 {
    border-bottom: none;
    margin: 10px 10px 10px 30px;
}

.home #myLocation #map_canvas {
    width: 100%;
    height: 300px;
}

.home #career #careerPanel {
    position: relative;
}

.home #career #timeline {
    position: absolute;
    width: 30px;
    height: 100%;
}

.home #career #timeline #line {
    width: 2px;
    height: 100%;
    position: absolute;
    margin-left: 10px;
    background: rgb(0,147,203);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.home #career #careerContent {
    margin-left: 30px;
}

.home #career .dot {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -24px;
    margin-top: 3px;
    background: rgb(0,147,203);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.home #career .date {
    font-size: 14px;
    font-style: italic;
    color: rgb(0,147,203);
}

.home #career .careerData {
    padding-left: 10px;
    margin-bottom: 8px;
    font-family: "SourceSansProLight", sans-serif;
    font-size: 16px;
}

/*
 * PORTFOLIO PAGE
 */

.content.projects {
    width: 100%;
}

.projects .mainTitle {
    max-width: 880px;
    margin: auto;
    margin-bottom: 10px;
}

#projectContent {
    position: relative;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

#backToList {
    position: absolute;
    width: 200px;
    height: 40px;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: #0093CB;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    opacity: 0;
}

#backToList .left {
    -webkit-backface-visibility: hidden;
    position: relative;
    left: -4px;
    font-size: 22px;
    margin-right: 10px;
}

#backToList:hover .left {
    -webkit-animation: blink ease 1.5s;
}

@-webkit-keyframes blink
{
    0%   {opacity: 1;}
    25%  {opacity: 0;}
    50%  {opacity: 1;}
    75%  {opacity: 0;}
    100% {opacity: 1;}
}

.projects #thumbnails {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 50px;
    z-index: 5;
}

.projectImagePreview {
    display: block;
    position: relative;
    max-width: 100%;
    width: 380px;
    line-height: 0px;
    margin: 20px auto;
    padding: 0;
    opacity: 1;
    -webkit-animation: showMe 1s forwards;
    -moz-animation: showMe 1s forwards;
    -o-animation: showMe 1s forwards;
    animation: showMe 1s forwards;
}

.projectImagePreview img {
    border: 0px white solid;
}

.projectImagePreview:not(.active) img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px white solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.projectImagePreview img.mainThumbnail {
    position: relative;
}

/* Peek-a-boo effect : http://tympanus.net/codrops/2014/03/05/simple-stack-effects/ */
.projectImagePreview img.additionalThumbnail {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.projectImagePreview:not(.active):hover img:first-of-type {
	-webkit-transform: scale(0.5) translate(45%,-60%) rotate(8deg);
	transform: scale(0.5) translate(45%,-60%) rotate(8deg);
}

.projectImagePreview:not(.active):hover img:nth-of-type(2) {
	-webkit-transform: scale(0.5) translate(-45%,-60%) rotate(-8deg);
	transform: scale(0.5) translate(-45%,-60%) rotate(-8deg);
}

.projectImagePreview:not(.active):hover img:nth-of-type(3) {
	-webkit-transform: scale(0.5) translate(0,-70%);
	transform: scale(0.5) translate(0,-70%);
}

.projectImagePreview img.mainThumbnail {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.projectImagePreview .largePictures {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projectImagePreview.active .largePictures {
    border-bottom: 2px solid #DCDCDC;
    border-radius: 5px;
}

.projectImagePreview:not(.active) img.additionalPicture {
    display: none;
}

.projectImagePreview img.additionalPicture {
    position: absolute;
    width: 100%;
}

.projectImagePreview:not(.active):hover img.mainThumbnail {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.projectImagePreview .previewName {
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0;
    opacity: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: "SourceSansProBold", sans-serif;
    text-shadow: 0px 0px 6px black;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.projectImagePreview:not(.active):hover .previewName {
    opacity: 1;
    bottom: 15px;
}

.projectImagePreview.hidden {
    -webkit-animation: hideMe 1s forwards;
    -moz-animation: hideMe 1s forwards;
    -o-animation: hideMe 1s forwards;
    animation: hideMe 1s forwards;
}

@-webkit-keyframes hideMe
{
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    30% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
        display: none;
    }
}

@-moz-keyframes hideMe
{
    0% {
        opacity: 1;
        -moz-transform: scale(1);
    }
    30% {
        opacity: 0;
    }
    100% {
        -moz-transform: scale(0);
        opacity: 0;
        display: none;
    }
}

@-o-keyframes hideMe
{
    0% {
        opacity: 1;
        -o-transform: scale(1);
    }
    30% {
        opacity: 0;
    }
    100% {
        -o-transform: scale(0);
        opacity: 0;
        display: none;
    }
}

@keyframes hideMe
{
    0% {
        opacity: 1;
        transform: scale(1);
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes showMe
{
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes showMe
{
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-o-keyframes showMe
{
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes showMe
{
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.projectImagePreview.active {
    position: relative;
    max-height: 300px;
}

.projectImagePreview.active img.additionalThumbnail {
    display: none;
}

.projectImagePreview.active img {
    max-width: 100%;
    box-shadow: none;
    z-index: 1;
}

.projectImagePreview.active .previewName {
    left: 50px;
    text-align: left;
    font-size: 40px;
    text-shadow: 1px 1px 10px #000;
    opacity: 1;
}

.projects #previewButtons {
    display: none;
    position: relative;
    top: -50px;
    width: 100%;
    height: 50px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.projects .projectDetails {
    display: none;
    position: relative;
    top: -25px;
}

.projects .projectTitle {
    min-height: 40px;
    padding-top: 10px;
    background: rgba(0, 147, 203, 1);
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid rgb(0, 118, 173);
    color: white;
    font-size: 24px;
    text-align: center;
}

.projects .projectInfo {
    padding: 10px;
    font-family: "SourceSansProLight", sans-serif;
}

.projects .projectInfo .emphasize {
    font-family: "SourceSansProRegular", sans-serif;
}

.projects .projectInfo .entry {
    padding-bottom: 5px;
}

.projects .projectDescription {
    padding: 10px;
    text-align: justify;
}

.projects .projectDescription p {
    margin: 0 0 10px 0;
    text-indent: 20px;
}
.projects .arrow {
    position: relative;
    top: 0;
    display: inline-block;
    margin: 10px;
    color: #DDD;
    font-size: 22px;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    transition: color 0.4s linear;
    cursor: pointer;
    vertical-align: top;
    line-height: 10px;
}

.projects .arrow:hover {
    color: #A0A0A0;
}

/*
 * PHOTO GALERY PAGE
 */

.photos {
    margin: auto;
}

#photoViewer {
    max-width: 650px;
    height: 433px;
    position: relative;
    margin: auto;
    border: 10px solid white;
    overflow: hidden;
}

#photoViewer a {
     z-index: 200;
}

#photoViewer canvas {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0;
}

#photoViewer img.picture {
    display: block;
    position: absolute;
    height: auto;
    max-width: 100%;
    z-index: 10;
    opacity: 0;
}

#photoViewer .zoom {
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    z-index: 100;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 100px;
    font-family: "LigatureSymbols";
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 200px;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

#photoViewer:hover .zoom {
    opacity: 1;
}

#photoViewer img {
    margin-bottom: -5px;
}

.photos .arrow {
    width: 70px;
    height: 70px;
    background: rgb(0,147,203);
    border-bottom: 2px solid rgb(1, 81, 112);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    line-height: 68px;
    margin-top: -262px;
    cursor: pointer;
    text-align: center;
}

.photos .arrow:active {
    border-bottom: none;
    border-top: 2px solid rgb(1, 81, 112);
    background: rgb(28, 124, 160);
}

.photos #leftArrow {
    float: left;
}

.photos #leftArrow .left {
    margin-right: 5px;
}

.photos #rightArrow .right {
    margin-left: 5px;
}

.photos #rightArrow {
    float: right;
}

.photos #photoSwitch {
    margin-top: 10px;
    text-align: center;
}

/*
 * BIOGRAPHY PAGE
 */

.biography #resumeDownload {
    text-align: center;
    color: #434343;
    padding-bottom: 18px;
    padding-top: 10px;
    -webkit-transition: background 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
    -moz-transition: background 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
    -o-transition: background 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
    -ms-transition: background 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
    transition: background 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
}

.biography #resumeDownload:hover {
    background: rgb(0,147,203);
    color: white;
    border-bottom: 2px solid rgb(0, 95, 131);
}

.biography .resumeText {
    font-size: 36px;
    margin-left: 15px;
    margin-right: 15px;
}

.biography .resumeText .download {
    margin-right: 20px
}

.biography span.category {
    font-style: italic;
}

.biography .skills {
    display: inline-block;
    width: 19%;
    height: 20px;
}

.biography .skill1 {
    background: rgb(26, 172, 214);
}

.biography .skill2 {
    background: rgb(24, 162, 201);
}

.biography .skill3 {
    background: rgb(21, 141, 175);
}

.biography .skill4 {
    background: rgb(16, 111, 137);
}

.biography .skill5 {
    background: rgb(9, 59, 73);
}

.biography .skills.left {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.biography .skills.middle1 {
    margin-left: 1px;
}

.biography .skills.middle2 {
    margin-left: 1px;
}

.biography .skills.middle3 {
    margin-left: 1px;
}

.biography .skills.right {
    margin-left: 1px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.biography .skills.both {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.biography .skill-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.biography .skill-list li {
    margin: 6px 0;
}

/*
 * CONTACT PAGE
 */

.contact .group {
    width: 100%;
}

.contact #messageSent {
    text-align: center;
    color: #24c761;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact #contactForm {
    padding: 20px;
}

.contact input[type=text], .contact input[type=email], .contact textarea {
    left: 34px;
    margin: 0;
    background: #F7F7F7;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    font-size: 14px;
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    -ms-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

.contact input[type=text]:focus, .contact input[type=email]:focus, .contact textarea:focus {
    background: #E5F4F8;
}

.contact input[type=text], .contact input[type=email] {
    width: 100%;
    height: 34px;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.contact textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 240px;
    max-height: 240px;
    left: 0;
    padding: 5px 10px 5px 10px;
    margin: 0 0 -6px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 34px solid transparent;
}

.contact input[type=text], .contact input[type=email], .contact textarea {
    font-size: 14px;
    font-family: "SourceSansProRegular", "Helvetica Neue", "Century Gothic", sans-serif;
}

.contact .preInput {
    position: absolute;
    width: 34px;
    height: 34px;
    background: rgb(0,147,203);
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    z-index: 2;
}

.contact .inputWrapper {
    position: absolute;
    right: 0;
    left: 34px;
    height: 100%;
}

.contact #name, .contact #mail {
    position: relative;
    height: 34px;
    width: 49%;
}

.contact #name {
    float: left;
}

.contact #mail {
    float: right;
}

.contact #message {
    margin: 10px 0 20px 0;
    position: relative;
}

.contact #message .preInput {
    height: 100%;
}

.contact #contactForm .preInput span.icon {
    position: relative;
    top: 5px;
    left: 10px;
}

.contact #captchaRight {
    max-width: 280px;
    padding-left: 20px;
    font-family: "SourceSansProLight", sans-serif;
}

.contact #captchaRight input {
    position: relative;
    left: 0px;
    width: 200px;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contact .g-recaptcha {
    margin-bottom: 20px;
}

.contact button[type=submit] {
    display: block;
    position: relative;
    clear: both;
    width: 200px;
    height: 40px;
    margin: auto;
    background: rgb(0,147,203);
    border: none;
    border-bottom: 2px solid rgb(0, 129, 179);
    outline: none;
    overflow: hidden;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.contact button[type=submit]:hover, .contact button[type=submit]:focus {
    background: rgb(0, 114, 158);
    border-bottom-color: rgb(0, 75, 104);
}

.contact button[type=submit]:active {
    background: rgb(0, 76, 105);
    border-bottom: none;
}

.contact button[type=submit] span {
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contact button[type=submit]:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    -o-transform: translateY(300%);
    transform: translateY(300%);
}

.contact button[type=submit]:before {
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contact button[type=submit]:hover:before {
    top: 0;
}

.contact #errors {
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(255, 107, 107);
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.contact #errors ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contact #errors .icon {
    padding-right: 5px;
}

.contact #socialNetworksLinks .socialPane {
    width: 100%;
    height: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.contact #socialNetworksLinks .socialPane:hover {
    color: white;
    width: 100%;
}

.contact #socialNetworksLinks a {
    color: black;
    text-decoration: none;
}

.contact #socialNetworksLinks .socialPane .icon {
    position: relative;
    float: left;
    display: block;
    height: 50px;
    width: 38px;
    padding-left: 12px;
}

.contact #socialNetworksLinks .socialPane .socialName {
    position: relative;
    left: 20px;
    top: 12px;
    font-size: 20px;
}

.contact #socialNetworksLinks #facebookPane:hover {
    background: rgb(59, 89, 152);
}

.contact #socialNetworksLinks #facebookPane .icon {
    background: rgb(59, 89, 152);
}

.contact #socialNetworksLinks #twitterPane:hover {
    background: rgb(0, 172, 238);
}

.contact #socialNetworksLinks #twitterPane .icon {
    background: rgb(0, 172, 238);
}

.contact #socialNetworksLinks #gplusPane:hover {
    background: rgb(221, 76, 57);
}

.contact #socialNetworksLinks #gplusPane .icon {
    background: rgb(221, 76, 57);
}

.contact #socialNetworksLinks #githubPane:hover {
    background: black;
}

.contact #socialNetworksLinks #githubPane .icon {
    background: black;
}

.contact #socialNetworksLinks span.facebk {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.contact #socialNetworksLinks #facebookPane {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.contact #socialNetworksLinks span.github {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.contact #socialNetworksLinks #githubPane {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
