.content {
    width: 900px;
}

#pannelPositionner {
     width: 900px;
}

.halfCard {
    width: 48%;
}

.threeQuarterCard {
    width: 73%;
}

.oneQuarterCard {
    width: 24%;
}

nav #links ul {
    margin: 0;
    padding: 0;
}

nav #links {
    float: right;
}

nav #links a {
    display: block;
    float: left;
    padding: 5px 10px;
    margin: 27px 5px 0px;
    text-decoration: none;
    color: #434343;
    font-family: "SourceSansProUltraLight", sans-serif;
    font-size: 20px;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.8em transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

nav #links a:hover {
    background: #E9E9E9;
}

nav #links li {
    display: inline;
}

nav #links li.current a {
    background: rgb(0,147,203);
    color: white;
}

nav #links .icon {
    padding-right: 5px;
}

nav #links li.lastElement a {
    margin-right: 0;
}

/**
 * Projets
 */

.projectImagePreview {
    margin: 20px 30px;
}

.projectImagePreview.left {
    float: left;
}

.projectImagePreview.right {
    float: right;
}
