body {
    background: #f3f3f3;
}

.headband .headband-container {
    width: 100%;
    box-sizing: border-box;
}

.headband .headband-text {
    display: block;
}

.headband a {
    margin-top: 4px;
    margin-left: 0;
}

nav {
    width: 100%;
    height: auto;
}

nav #siteTitle {
    font-size: 20px;
    margin-top: 30px;
}

nav #menuButtonSmartphone {
    display: block;
    float: right;
    margin: 24px 15px 10px 10px;
    font-size: 20px;
}

nav #menuButtonSmartphone .menu {
    margin-left: 8px;
    vertical-align: middle;
}

nav #links {
    display: block;
    height: 229px;
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
    background: url("../img/backgroundSmartphoneMenu.png") repeat #A3A3A3;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1), inset 0px 3px 3px 0px rgba(0,0,0,0.15),inset 0px -1px 0px 0px rgba(0,0,0,0.1),inset 0px -3px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1), inset 0px 2px 3px 0px rgba(0,0,0,0.15),inset 0px -1px 0px 0px rgba(0,0,0,0.1),inset 0px -2px 3px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1), inset 0px 3px 3px 0px rgba(0,0,0,0.15),inset 0px -1px 0px 0px rgba(0,0,0,0.1),inset 0px -3px 3px 0px rgba(0,0,0,0.15);
    -webkit-transition: height 0.3s linear, padding 0.1s linear;
    -moz-transition: height 0.3s linear, padding 0.1s linear;
    -o-transition: height 0.3s linear, padding 0.1s linear;
    transition: height 0.3s linear, padding 0.1s linear;
}

nav #links ul {
    margin: 5px 0;
    padding: 0 40px;
}

nav #links li {
    padding: 8px 0;
    list-style-type: none;
    border-bottom: 1px solid grey;
}

nav #links li.lastElement {
    border-bottom: none;
}

nav #links a {
    font-family: "SourceSansProLight", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

nav #links .icon {
    padding-right: 8px;
}

.content {
    clear: both;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.leftColumn {
    float: none;
    margin-bottom: 20px;
}

.rightColumn {
    float: none;
}

.halfColumn {
    width: 100%;
}

#footer {
    margin-top: 0;
}

/*
 * Home
 */
.home #myLocation {
    float: none;
}

/**
 * Projets
 */

.projectImagePreview {
    margin: 20px auto;
}

.projectImagePreview.active .previewName {
    font-size: 30px;
    left: 30px;
}

/**
 * Photos
 */
.photos .arrow {
    width: 50%;
    margin-top: 0;
    box-sizing: border-box;
}

.photos .arrow:hover {
    opacity: 1;
}

.photos #arrows {
    position: relative;
    height: 72px;
    margin-top: 10px;
}

.photos #leftArrow {
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
    border-right: 1px solid rgb(1, 81, 112);
}

.photos #rightArrow {
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    border-left: 1px solid rgb(1, 81, 112);
}

/*
 * Biography
 */

.biography #resumeDownload {
    float: none;
    margin-bottom: 20px;
}

/*
 * Contact
 */

.contact #socialNetworks {
    float: none;
    margin-bottom: 20px;
}

.contact #name, .contact #mail {
     width: 100%;
}

.contact #contactForm #name {
    float: none;
}

.contact #contactForm #mail {
    left: 0px;
    margin-top: 10px;
    float: none;
}

.contact #message {
    margin: 10px 0 20px 0;
}

#recaptcha_image {
    max-width: 90%;
    width: auto;
}

#recaptcha_image img {
    width: 100%;
}
