<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Théotime Loiseau"/>
	<title>Théotime Loiseau - Mozilla</title>
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/mozillamain/css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/tymcore/img/favicon.png') }}" />
  </head>
  <body>
    <header>
      <div id="wrapHeaderContent">
        <a href="http://www.mozilla.org/en-US/"><div id="logo"></div></a>
        <ul id="links">
          <li id="mozillaLink">Mozilla</li>
          <li id="firefoxLink">Firefox</li>
          <li id="firefoxOSLink">Firefox OS</li>
          <li id="otherLink">Other products</li>
        </ul>
      </div>
    </header>
    <section id="mozillaIntroduction">
      <div class="wrapContent">
        <h1>What I love about Mozilla <span id="secondPart">are their values</span></h1>
        <div id="aboutMozilla">
          <h2><span class="quotationMark">&#8220;</span>Our mission is to promote openness, innovation and opportunity on the Web.<span class="quotationMark">&#8221;</span></h2>
  <p><span class="quotationMark">&#8220;</span>At Mozilla, we’re a global community of technologists, thinkers and builders working together to keep the Internet alive and accessible, so people worldwide can be informed contributors and creators of the Web. We believe this act of human collaboration across an open platform is essential to individual growth and our collective future.<span class="quotationMark">&#8221;</span></p>
          <a href="https://www.mozilla.org/en-US/mission/"><span class="source">- Mozilla's website</span></a>
        </div>
      </div>
    </section>
    <section id="mozillaFirefox">
      <div class="wrapContent">
      	<div class="wrapFloat">
          <div id="firefoxWindow">
            <div id="firefoxLogo"></div>
            <div id="firefoxText">Firefox</div>
          </div>
          <ul id="mozillaFeatures">
              <li><span class="icon tag"></span>Non-profit</li>
              <li><span class="icon clear"></span>Innovating</li>
              <li><span class="icon dashboard"></span>High Performance</li>
              <li><span class="icon lock"></span>Advanced Security</li>
              <li><span class="icon parameter"></span>Powerful personalization</li>
          </ul>
      	</div>
      </div>
    </section>
    <section id="firefoxOS">
      <div class="wrapContent">
        <div id="firefoxOSLogo"></div>
        <div id="firefoxOSText"></div>
        <div id="phone"></div>
        <div id="screenshotGallery">
          <div id="lock" class="screenshot"></div>
          <div id="call" class="screenshot"></div>
          <div id="appgrid" class="screenshot"></div>
          <div id="firefox" class="screenshot"></div>
          <div id="inbox" class="screenshot"></div>
          <div id="gallery" class="screenshot"></div>
          <div id="radio" class="screenshot"></div>
          <div id="clock" class="screenshot"></div>
          <div id="calculator" class="screenshot"></div>
        </div>
      </div>
    </section>
    <section id="otherProducts">
      <div class="wrapContent">
        <h1>Other Mozilla products</h1>
        <a href="http://www.mozilla.org/en-US/thunderbird/"><div id="thunderbird" class="productCard">
          <div id="thunderbirdLogo"></div>
          <div class="cardText">
            <h3>Thunderbird</h3>
            Safe, fast and easy email.
          </div>
        </div>
        </a>
        <a href="http://www.mozilla.org/en-US/apps/#productivity"><div id="marketplace" class="productCard">
          <div id="marketplaceLogo"></div>
          <div class="cardText">
            <h3>Marketplace</h3>
            A creation and distribution platform for apps.
          </div>
        </div>
        </a>
        <a href="http://www.mozilla.org/en-US/persona/"></><div id="persona" class="productCard">
          <div id="personaLogo"></div>
          <div class="cardText">
            <h3>Persona</h3>
            A better way to sign-in to websites.
          </div>
        </div>
        </a>
      </div>
    </section>
    <footer>
      <div class="wrapContent">
        Created by <a href="http://www.theotimeloiseau.com">Théotime Loiseau</a> for Mozilla USA. If you want to know more about my work, please visit my <a href="http://www.theotimeloiseau.com">Portfolio</a>.
      </div>
    </footer>
    <script src="{{ asset('bundles/mozillamain/js/jquery-2.0.3.min.js') }}"></script>
    <script src="{{ asset('bundles/mozillamain/js/mozilla.js') }}"></script>
  </body>
</html>