<!DOCTYPE HTML>
<!--
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Joyeux anniversaire Pauline</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ asset('bundles/paulinemain/css/main.css') }}" />
    <link rel="shortcut icon" type="image/png" href="{{ asset('bundles/tymcore/img/favicon.png') }}" />
  </head>
  <body>

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">Joyeux anniversaire</a></h1>
            <nav>
              <a href="#menu">Menu</a>
            </nav>
          </header>

        <!-- Menu -->
          <nav id="menu">
            <div class="inner">
              <h2>Menu</h2>
              <ul class="links">
                <li><a href="#banner">Accueil</a></li>
                <li><a href="#two">Les Coquettes</a></li>
                <li><a href="#three">Fary</a></li>
                <li><a href="#four">Caroline Vigneaux</a></li>
                <li><a href="#five">Sugar Sammy</a></li>
                <li><a href="#six">Nora Hamzawi</a></li>
                <li><a href="#seven">Le comte de Bouderbala 2</a></li>
                <li><a href="#eight">Vérino</a></li>
                <li><a href="#nine">Les Franglaises</a></li>
                <li><a href="#ten">Gaspard Proust</a></li>
              </ul>
              <a href="#" class="close">Close</a>
            </div>
          </nav>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <div class="logo"><span class="icon fa-birthday-cake"></span></div>
              <h2>Joyeux anniversaire Pauline</h2>
              <p>29 ans, sans faux-semblants</p>
            </div>
          </section>

        <!-- Wrapper -->
          <section id="wrapper">

            <!-- One -->
              <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Le site dont tu es le héros</h2>
                    <p>En 2016, le site Internet remplaçait le bon cadeau pour la première fois dans l'histoire de la famille Loiseau Drivet. Cet événement incroyable fut une réussite incontestable, qui a sucité l'émoi, la passion et l'admiration de tous les participants lors de ton anniversaire. Cette année, on continue sur la même lancée mais avec une énorme nouveauté: le cadeau est unique. D'ailleurs, plutôt que de dire que tu as 29 ans, je te propose de dire que tu as 28S ans, comme les iPhones.</p>
                    <p>Pour 2017, je te propose d'assister à un spectacle de stand up ou d'humour, pour deux personnes! Je t'ai fais une petite sélection des spectacles actuels ou à venir, qui je le crois, pourront te faire vraiment plaisir.</p>
                    <p>Bon anniversaire vieille branche, c'est ta dernière année avant le cap symbolique des 30ans, il vaut mieux en rire!</p>
                  </div>
                </div>
              </section>

            <!-- Two -->
              <section id="two" class="wrapper alt spotlight style2">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Les Coquettes</h2>
                    <p>Du chant, un humour décalé et saillant, des paroles acérées, un petit mélange piquant pour passer un bon moment.</p>
                    <a href="http://www.lescoquettessurinternet.com/" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=-vKWQl-3S2g" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Three -->
              <section id="three" class="wrapper spotlight style3">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Fary</h2>
                    <p>Décontracté, moderne et sans filtre, Fary t'offre un joli One Man Show, mélangeant auto-dérision et léger cynisme.</p>
                    <a href="http://fary.fr/" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=zC7ff6w7x-Y" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Four -->
              <section id="four" class="wrapper alt spotlight style4">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Caroline Vigneaux</h2>
                    <p>Léger et très féminin, idéal si tu as envie d'un humour simple mais efficace.</p>
                    <a href="http://carolinevigneaux.com/" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=ElpMm9x3G5Q" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Five -->
              <section id="five" class="wrapper spotlight style5">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Sugar Sammy</h2>
                    <p>Un canadien très fort en stand up qui fait beaucoup participer son public. Tous les sujets y passent, du racisme au terrorisme, le tout avec un humour décapant. Recommandé par Télérama.</p>
                    <a href="http://www.sugarsammy.com/Fr/index.html" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=2qXR-aR8qYk" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Six -->
              <section id="six" class="wrapper alt spotlight style6">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Nora Hamzawi</h2>
                    <p>Chroniqueuse sur France Inter et sur Canal +, cette humoriste parle de thèmes souvent abordés avec un regard définitivement contemporain.</p>
                    <a href="http://www.cheznora.fr/?q=le-show" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=jCS6MiF78sw" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Seven -->
              <section id="seven" class="wrapper spotlight style7">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Le comte de Bouderbala 2</h2>
                    <p>Son deuxième spectable n'est pas encensé par les critiques mais il reflète un humour "de banlieu" qui a le mérite de différer un peu des autres spectacles.</p>
                    <a href="https://www.youtube.com/watch?v=FLV1vf_Aj1k" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Eight -->
              <section id="eight" class="wrapper alt spotlight style8">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Vérino</h2>
                    <p>Découvert sur "On ne demande qu'à en rire", Vérino offre un humour du quotidien bien vu et pourtant proche de la vérité. Piquant, intéractif et sympathique, son spectable semble être un très bon moment.</p>
                    <a href="http://verino.fr/" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=M21PqQMbE8w" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Nine -->
              <section id="nine" class="wrapper spotlight style9">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Les Franglaises</h2>
                    <p>Des classiques pop-rock anglais traduit en français et le tout avec une mise en scène animée et incroyablement rythmée c'est ce que propose les Franglaise. Un spectacle très apprécié des critiques et primé du Molière de la Comédie Musicale 2015.</p>
                    <a href="http://www.lesfranglaises.fr/" class="special">Découvrir</a>
                    <a href="https://youtu.be/0JMlOJQWND4?t=273" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>

            <!-- Ten -->
              <section id="ten" class="wrapper alt spotlight style10">
                <div class="oblique-line"></div>
                <div class="inner">
                  <div class="content">
                    <h2 class="major">Gaspard Proust</h2>
                    <p>Un humour au vitriol et dénué de tout filtre, c'est ce que propose Gaspard Proust. Au final, tu le connais déjà bien grâce aux parents qui regardent Canal+ le samedi.</p>
                    <a href="http://www.gaspardproust.com/" class="special">Découvrir</a>
                    <a href="https://www.youtube.com/watch?v=D9YL194KzyA" class="special video">Voir un extrait</a>
                  </div>
                </div>
              </section>



        <!-- Footer -->
          <section id="footer">
            <div class="inner">
              <div class="content">
                <p>C'est parti, cette année sera donc sous le signe du rire, de la joie et de l'humour. Je ne peux malheureusement pas garantir l'amélioration de l'humour d'Alexandre... Mais avec le super spectacle que tu choisiras, tu auras au moins une heure de franche rigolade (du moins, j'espère). Coeur avec les doigts!</p>
                <p id="heart"><span class="icon fa-heart"></span></p>
              </div>
              <ul class="copyright">
                <li>&copy; Théotime Loiseau. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </section>

      </div>

    <!-- Scripts -->
      <script src="{{ asset('bundles/paulinemain/js/skel.min.js') }}"></script>
      <script src="{{ asset('bundles/paulinemain/js/jquery.min.js') }}"></script>
      <script src="{{ asset('bundles/paulinemain/js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ asset('bundles/paulinemain/js/util.js') }}"></script>
      <script src="{{ asset('bundles/paulinemain/js/main.js') }}"></script>

  </body>
</html>