/*
* Fonts
*/

@font-face {
  font-family: "FiraLight";
  src: url('../font/Fira/FiraSans-Light.eot?') format('eot'), url('../font/Fira/FiraSans-Light.woff') format('woff'), url('../font/Fira/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: "FiraRegular";
  src: url('../font/Fira/FiraSans-Regular.eot?') format('eot'), url('../font/Fira/FiraSans-Regular.woff') format('woff'), url('../font/Fira/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "FiraRegularItalic";
  src: url('../font/Fira/FiraSans-RegularItalic.eot?') format('eot'), url('../font/Fira/FiraSans-RegularItalic.woff') format('woff'), url('../font/Fira/FiraSans-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('../font/LigatureSymbols/LigatureSymbols-2.11.eot?') format('eot'), url('../font/LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'), url('../font/LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
}

/**
* Icon font
*/
.icon:before {
  font-family: "LigatureSymbols";
  -webkit-font-smoothing: antialiased;
}

.icon.dashboard:before {
  content: "\E03c";
}

.icon.lock:before {
  content: "\E086";
}

.icon.dashboard:before {
  content: "\E03c";
}

.icon.parameter:before {
  content: "\E09c";
}

.icon.tag:before {
  content: "\E128";
}

.icon.clear:before {
  content: "\E02f";
}

/*
* General
*/

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "FiraLight", "Helvetica Neue", "Century Gothic", sans-serif;
}

section {
  overflow: hidden;
}

a {
  color: #434343;
}

.wrapContent {
  position: relative;
  width: 960px;
  margin: auto;
}

#firefoxOS .wrapContent {
  padding-left: 100px;
}

/*
* Header
*/

header {
  position: relative;
  height: 60px;
  z-index: 45;
  background: white;
}

#wrapHeaderContent {
  width: 960px;
  margin: auto;
}

#logo {
  position: absolute;
  width: 140px;
  height: 57px;
  background: url("../img/mozilla.png") no-repeat;
}

#links {
  position: absolute;
  margin-left: 120px;
  list-style-type: none;
  font-family: "FiraLight", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #434343;
}

#links li {
  display: inline;
  margin: 0 15px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
}

#links li:hover {
  color: rgb(249,153,52);
}

/*
* Introduction to Mozilla
*/

section#mozillaIntroduction {
  position: relative;
  height: 1002px;
  width: 100%;
  background: rgb(249,153,52);
  z-index: 40;
  color: white;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.6); 
}

section#mozillaIntroduction h1 {
  position: relative;
  width: 960px;
  top: 90px;
  margin: 0;
  font-family: "FiraRegular", Helvetica, sans-serif;
  font-size: 45px;
  text-align: center;
}

section #aboutMozilla {
  position: absolute;
  width: 960px;
  top: 500px;
}

section h2 {
  font-family: "FiraRegularItalic", Helvetica, sans-serif;
  font-size: 35px;
}

section p {
  font-family: "FiraLight", Helvetica, sans-serif;
  font-size: 26px;
}

.quotationMark {
  font-size: 30px;
}

.source {
  float: right;
  font-family: "FiraRegularItalic", Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

/*
* Mozilla Firefox
*/

section#mozillaFirefox {
  height: 1200px;
  background: url("../img/backgroundDisk.jpg") fixed;
  z-index: 20;
}

section#mozillaFirefox .wrapContent, section#mozillaFirefox .wrapFloat {
  height: 394px;
  top: 100px;
}

div#firefoxWindow {
  position: absolute;
  width: 650px;
  height: 394px;
  margin-right: 20px;
  background: url("../img/firefoxWindow.png") no-repeat;
  background-size: 650px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

div#firefoxLogo {
  position: absolute;
  top: 270px;
  left: -50px;
  z-index: 22;
  width: 150px;
  height: 150px;
  background: url("../img/firefoxOS.png") no-repeat;
  background-size: 150px;
}

div#firefoxText {
  position: absolute;
  top: 294px;
  left: 50px;
  z-index: 21;
  height: 100px;
  padding: 0 90px 0 60px;
  font-family: "FiraRegular", "Helvetica Neue", "Century Gothic",sans-serif;
  font-size: 60px;
  color: white;
  line-height: 100px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(249,153,52,1), rgba(249,153,52,0));
  background: -moz-linear-gradient(left, rgba(249,153,52,1), rgba(249,153,52,0));
  background: -ms-linear-gradient(left, rgba(249,153,52,1), rgba(249,153,52,0));
  background: -o-linear-gradient(left, rgba(249,153,52,1), rgba(249,153,52,0));
  background: linear-gradient(left, rgba(249,153,52,1), rgba(249,153,52,0));
}

section#mozillaFirefox ul {
  position: absolute;
  left: 680px;
  padding: 45px 0 0 0;
  margin: 0;
  list-style-type: none;
  color: #434343;
  font-family: "FiraRegular", Helvetica, sans-serif;
  font-size: 24px;
}

section#mozillaFirefox ul li {
  width: 270px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  background: white;
}

section#mozillaFirefox ul li .icon {
  float: left;
  margin-right: 10px;
  line-height: 24px;
}

section#mozillaFirefox ul li .icon.parameter {
  line-height: 48px;
}

/*
* Firefox OS
*/

section#firefoxOS {
  position: relative;
  height: 1280px;
  z-index: 25;
  background: #0f9fdb;
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}

div#firefoxOSLogo {
  position: relative;
  top: -80px;
  float: right;
  width: 600px;
  height: 600px;
  z-index: 35;
  background: url("../img/firefoxOS.png") no-repeat;
}

div#phone {
  position: absolute;
  top: 100px;
  width: 308px;
  height: 523px;
  z-index: 30;
  margin-left: 506px;
  background: url("../img/phone.png") no-repeat;
}

div#firefoxOSText {
  position: relative;
  top: 218px;
  width: 360px;
  height: 84px;
  background: url("../img/firefoxOS-Text.png") no-repeat;
}

div#screenshotGallery {
  position: relative;
  top: 360px;
}

div.screenshot {
  display: none;
  position: absolute;
  left: 580px;
  width: 140px;
  height: 210px;
  margin: 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.6);
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

div#lock {
  background: url("../img/ffOS-lock.jpg") no-repeat;
}

div#call {
  background: url("../img/ffOS-call.jpg") no-repeat;
}

div#appgrid {
  background: url("../img/ffOS-grid.jpg") no-repeat;
}

div#firefox {
  top: 250px;
  background: url("../img/ffOS-firefox.jpg") no-repeat;
}

div#inbox {
  top: 250px;
  background: url("../img/ffOS-message.jpg") no-repeat;
}

div#gallery {
  top: 250px;
  background: url("../img/ffOS-gallery.jpg") no-repeat;
}

div#radio {
  top: 500px;
  background: url("../img/ffOS-radio.jpg") no-repeat;
}

div#clock {
  top: 500px;
  background: url("../img/ffOS-clock.jpg") no-repeat;
}

div#calculator {
  top: 500px;
  background: url("../img/ffOS-calculator.jpg") no-repeat;
}

/*
* Other products
*/

section#otherProducts {
  position: relative;
  height: 1400px;
  z-index: 35;
  background: url("../img/triangular.png") repeat;
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.6); 
}

section#otherProducts h1 {
  text-align: center;
  font-family: "FiraLight", "Helvetica Neue", sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 1px black;
  color: white;
}

.productCard {
  position: absolute;
  width: 280px;
  height: 300px;
  margin: 0 20px;
  padding-top: 20px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  text-align: center;
  -webkit-transition: background 0.4s linear, color 0.4s linear;
  transition: background 0.4s linear, color 0.4s linear;
}

.productCard:hover {
  background: #0f9fdb;
  color: white;
}

#thunderbird {
  top: 100px;
}

#marketplace {
  top: 440px;
  margin-left: 340px;
}

#persona {
  top: 780px;
  margin-left: 660px;
}

#thunderbirdLogo {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url("../img/thunderbirdLogo.png") no-repeat;
}

#personaLogo {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url("../img/personaLogo.png") no-repeat;
}

#marketplaceLogo {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url("../img/marketplaceLogo.png") no-repeat;
}

.cardText {
  padding: 20px;
  font-family: "FiraLight", "Helvetica Neue", "Century Gothic", sans-serif;
}

.cardText h3 {
  font-weight: bold;
  margin: 15px;
}

/*
* Footer
*/

footer {
  height: 50px;
  z-index: 30;
  padding-top: 10px;
  text-align: center;
  line-height: 50px; 
}

footer a {
  color: #0f9fdb;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: rgb(249,153,52);
}